
.navbar {
    background-color: green;
    line-height: 50px;
}
.option  {
    color: white;
    padding:10px;
    margin-right: 15px;
    font-weight: bold;
}

.option:hover{
    background: white;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}